/* Top margin and heading */
.aligned { 
  margin-top:100px;
  margin-left:300px;
  display: flex; 
  align-items: center; 
} 
/*end*/
/*Heading text*/   
heading { 
  padding: 10px; 
}

/*end*/

/*centering of banner*/
.center {
  margin-top:100px;
  display: block;
}
/*end*/

/* Image centering*/
.alignment { 
  margin-top:20px;
  margin-left:610px;
  display: flex; 
  align-items: center; 
} 
/*end*/