/* navbar css style */
/*container*/
.container { 
  margin-top: 0;
  margin-bottom: 25px;
}
/*container end */

/* ul styling  */
ul{
  list-style-type: none;
 
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
/* ul styling end  */

/* li styling   */
li{
  float:left;
}
/* li styling end  */
/* li and a styling   */
li a {
  display: block;
  color:white;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
}
/* li and a styling  end   */
/*  a styling  Hover  */
 a:hover {
background-color: #111111;
}
/*  a styling  Hover end  */
